.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-hidden {
  display: none;
}

#results-wrapper {
  padding: 10px;
}

.c-rowset {
  max-height: 500px;
  overflow: auto;
  margin-top: 15px;
  border-spacing: 0;
  table-layout: auto;
}

.c-rowset:not(.u-hidden) {
  display: block;
}

.c-rowset thead tr {
  background-color: #7f8c8d;
}

.c-rowset thead tr th {
  padding: 8px 10px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  line-height: 1.4em;
  color: #FFF;
  font-weight: bold;
}

.c-rowset thead tr th + th {
}

.c-rowset tbody tr td {
  padding: 8px 10px;
}

.c-rowset tbody tr:nth-child(even) {
  background-color: #FFF;
}

.c-rowset tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}

#luser-wrapper .o-input {
  padding: 8px 5px;
  border: 1px solid #AAA;
  border-radius: 4px;
}

.c-advanced-filters {
  display: block;
  overflow: hidden;
  -webkit-transition: all 250ms ease-out;
          transition: all 250ms ease-out;
}

.c-advanced-filters:not(.s-expanded) {
  height: 0 !important;
}

#luser-wrapper button > span.dashicons {
  margin-top: 4px;
}

#luser-wrapper .button > span.dashicons.dashicons-trash {
  color: #c0392b;
}

select + .select2 {
  width: 250px !important;
}
