.s-border-top {
  border-top: 1px solid #CCC;
}

.s-border-bottom {
  border-bottom: 1px solid #CCC;
}

#lorem-user-generator label {
  font-weight: bold;
  margin-right: 15px;
}

#lorem-user-generator #notes-wrapper {
  margin-top: 10px;
  padding: 0 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .25);
}

#lorem-user-generator form {
  padding: 15px 0;
}

#lorem-user-generator .table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#lorem-user-generator table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

#lorem-user-generator table th {
  border-bottom: 2px solid #dee2e6;
  padding: .3rem;
  border-top: 1px solid #dee2e6;
  text-align: left;
}

#lorem-user-generator table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

#lorem-user-generator table pre {
  margin: 0;
}

#lorem-user-generator #output-console-wrapper {
  background-color: #CCC;
  border-radius: 4px;
}

#lorem-user-generator #output-console-wrapper pre {
  margin: 0;
  padding: 4px 8px;
}
